* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* all sections are on top of each other */

body {
	height: 100%;
	width: 100%;
	/* max-width: 1400px; */
	min-height: 100vh;
	display: block;
	background-color: #191919;
	font-family: sans-serif;
}

/* Nav */
.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.link-group {
	display: flex;
	list-style-type: none;
}

.link a {
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
	padding: 10px 30px;
	text-transform: uppercase;
	margin: 0 20px;
	line-height: 80px;
	transition: 0.3s;
	font-size: 20px;
}

.link a:hover,
.link.active a {
	opacity: 1;
}

/* home */
/*! adds .active class that shows home section when other sections are clicked */
.home-section.active,
.project-section.active,
.about-section.active,
.skill-section.active {
	position: relative;
	opacity: 1;
	z-index: 8;
}

.home-section {
	height: 100vh;
	width: 100%;
	padding: 0 150px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	/* !hides section */
	opacity: 0;
	transition: 1s;
}

.hero-heading {
	color: #fff;
	font-size: 120px;
	text-transform: uppercase;
	font-weight: 100;
	max-width: 50%;
}

.hero-img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 50%;
	object-fit: cover;
	opacity: 0.4;
}

/* Project section */

.project-section {
	width: 100%;
	min-height: 100vh;
	padding: 150px 100px 100px;
	position: fixed;
	top: 0;
	transition: 1s;
	opacity: 0;
}

.project-heading {
	font-size: 100px;
	background: #252525;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 50px;
	color: #1a1a1a;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 8px transparent;
}

.project-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
}

.project-card {
	height: 400px;
	position: relative;
}

.project-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: 0.5s;
}

.project-content {
	position: relative;
	padding: 40px;
	color: #fff;
	transition: 0.5s;
	opacity: 0;
}

.project-title {
	font-size: 50px;
	text-transform: capitalize;
	text-align: center;
	font-weight: 300;
}

.project-info {
	margin: 40px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.project-btn-grp {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.project-btn {
	height: 40px;
	text-transform: capitalize;
	font-size: 18px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

.project-btn.live {
	background: none;
	border: 2px solid #fff;
}

.project-card:hover .project-img {
	filter: blur(20px);
}

.project-card:hover .project-content {
	opacity: 1;
}

/* about-section */

.about-section {
	width: 100%;
	min-height: 100vh;
	padding: 150px 100px 0;
	position: relative;
	top: 0;
	opacity: 0;
	transition: 1s;
}

.about-container {
	width: 100%;
	min-height: 550px;
	display: grid;
	grid-template-columns: 4fr 5fr;
	grid-gap: 40px;
}

.about-img-container {
	position: relative;
}

.about-info {
	color: #fff;
	opacity: 0.6;
	font-size: 20px;
	line-height: 40px;
}

.about-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.download-cv-btn {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	color: #fff;
	border: none;
	font-size: 18px;
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.5s;
	background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
	background: #000;
}

/* skills section */
.skill-section {
	position: relative;
	margin: 100px 0;
}

.skill-heading {
	font-size: 60px;
	text-align: center;
	color: #fff;
	margin-bottom: 100px;
	font-weight: 300;
	text-transform: capitalize;
}

.skill-container {
	width: 98%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px;
	color: #fff;
}

.skill-card {
	position: relative;

	max-width: 200px;
}

.skill-image {
	display: block;
	margin: auto;
	height: 200px;
	opacity: 0.5;
}

.skill-name {
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 300;
	margin: 30px 0 20px;
}
.skill-info {
	text-align: center;
	font-size: 18px;
	color: #fff;
	opacity: 0.5;
	line-height: 30px;
}

.skill-level {
	position: absolute;
	top: -25px;
	right: -10px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid yellow;
	font-size: 22px;
	border-radius: 50%;
}

.skill-card:nth-child(1) .skill-level {
	background: #ff4f4f28;
	border-color: #ff4f4f;
	color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level {
	background: #4fa0ff28;
	border-color: #4fa0ff;
	color: #4fa0ff;
}

.skill-card:nth-child(4) .skill-level {
	background: #52ff4f28;
	border-color: #52ff4f;
	color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level {
	background: #4fdfff28;
	border-color: #4fdfff;
	color: #4fdfff;
}

.skill-card:nth-child(6) .skill-level {
	background: #f0503435;
	border-color: #f05034;
	color: #f05034;
}
